header{
  background-color:rgb(255, 218, 52);
  font-style:italic;
  color:white;
  font-size:29px;
}

.header{
  text-align:center;;
}
.w{
  color:rgb(50, 50, 201);
  background-color:rgb(255, 218, 52);
}

.e{
  color:rgb(36, 148, 36);
  background-color:rgb(255, 218, 52);
}

.e2{
  color:rgb(148, 39, 39);
  background-color:rgb(255, 218, 52);
}
.k{
  color:rgb(233, 143, 40);
  background-color:rgb(255, 218, 52);
}
.e3{
  color:rgb(214, 100, 119);
  background-color:rgb(255, 218, 52);
}
.n{
  color:rgb(170, 48, 170);
  background-color:rgb(255, 218, 52);
}
.d{
  color:rgb(50, 50, 201);
  background-color:rgb(255, 218, 52);
}


  input{
      color:#0000005d;
      font-size:25px;
  }


  ul{
      color:rgb(238, 255, 0);
      font-size:30px;
      font-style:arial;
  }

  .totalAmount{
    font-style:oblique;
    font-family:arial;
    font-weight:bold;
      color:#ad0000;

  }

  #total{
      font-size: 50px;
      font-family:system-ui;
      color:#247a02;

  }