header{
  background: linear-gradient(to bottom right, #00F260, #a17fe0);
  padding: 20px 15px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    text-align:center;
  }

.weekend{
  font-style:italic;
  color:#c2f2e2;
}

  input{
      color:#0000005d;
      font-size:25px;
  }

table{
  margin: 0 auto;
}

  ul{
      color:;
      font-size:30px;
      font-style:arial;
  }

  .totalAmount{
    font-style:oblique;
    font-family:arial;
    font-weight:bold;
      color:#ad0000;
    text-align:center;

  }

  #total{
      text-align:center;
      font-size: 50px;
      font-family:system-ui;
      color:#black;

}

#spendings{
  color:#ffffff;
  font-size:1px;
}
