tittle{
  margin-left:45px;
  font-size:29px;
}

.weekend{
    font-style:italic;
    font-family:arial;
    text-decoration: underline;
    color:#0068c9;
    background-color:#ffffff;

  }

  input{
      color:#0000005d;
      font-size:25px;
  }


  ul{
      color:rgb(238, 255, 0);
      font-size:30px;
      font-style:arial;
  }

  .totalAmount{
    font-style:oblique;
    font-family:arial;
    font-weight:bold;
      color:#ad0000;

  }

  #total{
      font-size: 50px;
      font-family:system-ui;
      color:#247a02;

  }